*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.sign-up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Segoe UI';
  height: 100vh;
  width: 100%;

  .sign-up {
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;

    .sign-up-form__body-wrapper {
      .sign-up-form__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .signUp-form__line-wrapper {
          width: 260px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .signUp-form__line-left {
            display: inline-block;
            height: 1px;
            background-color: #8E8E8E;
            width: 100%;
          }

          .signUp-form__line-text {
            margin: 0 4px;
            display: inline-block;
            color: #8E8E8E;
          }

          .signUp-form__line-right {
            display: inline-block;
            height: 1px;
            background-color: #8E8E8E;
            width: 100%;
          }
        }
        .signUp-form__input {
          width: 260px;
          border: 1px solid rgb(219, 219, 219);
          background-color: #fafafa;
          font-size: 11px;
          padding: 9px 0 7px 8px;
        }

        .signUp-form__submit {
          cursor: pointer;
          border: none;
          border-radius: 5px;
          background-color: #47afff;
          color: #fff;
          font-weight: bold;
          padding: 10px 0;
          width: 260px;
          margin-bottom: 20px;

          &:hover {
            background-color: #2c99ec;
          }
        }
      }
    }
  }
  .sign-up-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    .sign-up-descriptions {
      width: 260px;
      text-align: center;
      font-size: 17px;
      color: #8E8E8E;
      margin-bottom: 10px;
    }
    .sign-up-logo {
      margin-top: 40px;
      width: 175px;
    }
  }

  .registration-sign-in {
    width: 350px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgb(219, 219, 219);
    margin-top: 20px;
    border-radius: 1px;

    a {
      color: rgb(0, 149, 246);
      text-decoration: none;
    }
  }
}