.user-post-wrapper {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .user-post-wrapper-inner {
    width: 75vw;
    height: 92vh;
    background-color: #fff;
    display: flex;

    .user-post-image-wrapper {
      height: 100%;
      background-color: black;
      width: 55%;
      border: 1px solid black;

      display: flex;
      align-items: center;

      .user-post-image {
        width: 100%;
      }
    }

    .user-post-content-wrapper {
      width: 45%;
      display: flex;
      flex-direction: column;

      .user-post-content-header {
        padding: 10px 15px 10px 60px;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        gap: 15px;
        align-items: center;
        .user-post-content-header__username {
          flex-grow: 1;
          font-weight: 600;
        }
        .user-post-content-header__icon {
          width: 24px;
          margin-left: -38px;
          border-radius: 50%;
          object-fit: cover;
        }

        .user-post-settings-icon {
          cursor: pointer;
        }
      }

      .user-post-content-text {
        height: 400px;
        padding: 10px 15px 5px 57px;
        overflow-wrap: anywhere;
        .post-username {
          font-weight: 600;
        }
      }

      .user-post-content-reactions {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 15px;
        padding-top: 10px;
        display: flex;
        gap: 10px;
        width: 100%;

        .user-post-content-liked {
          cursor: pointer;
        }
        .user-post-content-comments {
          cursor: pointer;
        }
      }

      .user-post-comments-wrapper {
        display: flex;
        padding: 15px 15px 5px;
        gap: 13px;
        justify-content: space-between;
        .user-post-comments-smiles-wrapper {
          width: 24px;
        }
  
        .user-post-comments-input {
          outline: none;
          font-size: 12px;
          width: 100%;
          border: none;
        }

        .user-post-comments-button {
          background-color: transparent;
          border: none;
          font-weight: 600;
          color: #3578E5;
        }
      }

    }
  }
}